<?xml version="1.0" encoding="utf-8"?>

<?include $(var.InstallRoot)\Properties.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:OSSBuild="$(ossbuild.namespaceURI())">
	<Fragment>

		<DirectoryRef Id="MergeRedirectFolder">
			<OSSBuild:FillDirectory ComponentGroup="PluginsBad" Directory="$(var.GstPluginDir)">
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstadpcmdec\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstadpcmenc\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstaiff\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstasfmux\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstautoconvert\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstbayer\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstbz2\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstcamerabin\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstcamerabin2\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstcdxaparse\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstcelt\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstcoloreffects\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstcolorspace\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstdataurisrc\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstdccp\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstdebugutilsbad\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstdirectdraw\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstdirectsoundsrc\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstdshowdecwrapper\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstdshowsrcwrapper\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstdshowvideosink\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstdtmf\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstdvbsuboverlay\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstdvdspu\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstfieldanalysis\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstfragmented\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstfreeze\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstfrei0r\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstgaudieffects\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstgeometrictransform\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gsth264parse\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gsthdvparse\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstid3tag\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstinterlace\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstinvtelecine\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstivfparse\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstjp2kdecimator\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstjpegformat\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstlegacyresample\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstliveadder\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstmms\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstmpeg4videoparse\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstmpegdemux\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstmpegpsmux\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstmpegtsdemux\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstmpegtsmux\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstmpegvideoparse\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstmve\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstmxf\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstneonhttpsrc\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstnuvdemux\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstpatchdetect\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstpcapparse\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstpnm\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstrawparse\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstreal\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstrsvg\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstrtpmux\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstrtpvp8\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstscaletempoplugin\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstschro\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstsdi\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstsdl\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstsdpelem\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstsegmentclip\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstsiren\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstspeed\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gststereo\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstsubenc\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gsttta\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstvideofiltersbad\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstvideomeasure\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstvideoparsersbad\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstvideosignal\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstvmnc\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstvp8\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstwasapi\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstwininet\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstwinks\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstwinscreencap\.dll" />
				<OSSBuild:Filter Include=".*\\[^\\]*.*gsty4mdec\.dll" />
				
				<!-- sys -->
				<OSSBuild:Filter Include=".*\\[^\\]*.*gstd3dvideosink\.dll" />
			</OSSBuild:FillDirectory>
		</DirectoryRef>
		
	</Fragment>
</Wix>
